body {
    font-family: Arial;
    margin: 20px;
}
table {
    width: 60%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
a {
    text-decoration: none;
    margin: 0 5px;
}
